{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Wallpaper</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/CSS/CssFiles.css' %}"
    />
  </head>
  <body style="background-color: rgb(247, 247, 247);">
    <div class="topnav fixed-top" id="myTopnav">
      <img
        src="{% static 'Logo-PhotoStall.png' %}"
        onclick="window.location.href='/'"
        class="LOGO"
        id="LOGO-id"
      />
      {% if user.is_authenticated %}
      <a class="nav-link" href="/accounts/Logout">Logout</a>
      <a
        class="nav-link"
        href="/Profile/{{user.username}}"
        style="padding: 12px; margin-left: 15px;"
        ><i style="font-size: 28px;" class="fa">&#xf2be;</i></a
      >
      {% else %}
      <a
        href="#"
        style="
          padding: 0px;
          margin-top: 7px;
          margin-right: 10px;
          border-radius: 5px;
          margin-left: 10px;
        "
        ><button
          class="btn btn-outline-light my-2 my-sm-0"
          onclick="window.location.href='/accounts/Register'"
          id="myBtn"
          type="submit"
        >
          Register
        </button></a
      >
      <a class="nav-link" id="Login-1" href="/accounts/Login">Login</a>
      {% endif %}
      <a
        href="#"
        style="
          padding: 0px;
          margin-top: 7px;
          margin-left: 10px;
          border-radius: 5px;
        "
        ><button
          type="button"
          id="myBtn"
          class="btn btn-outline-light nav-ele"
          onclick="window.location.href='/Submit'"
        >
          Submit a photo
        </button></a
      >
      <a href="/Topic/" class="nav-ele">Topic</a>
      <a href="/" class="nav-ele">Home</a>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div id="Page">
      <div style="padding: 20px;" id="Category-head">
        <h1>{{cat.title}}</h1>
        <h5>{{cat.desc}}</h5>
      </div>
      <br />
      <hr />
      <section id="photos">
        {% for img in images %}
        <div class="Image-Container">
          <img
            src="{{img.image.url}}"
            class="Imagee"
            alt=""
            onclick="showModalwithImage('{{img.image.url}}','{{img.username}}')"
          />
          <button class="Download-Button">
            <a href="{{img.image.url}}" class="Download-Link" download
              ><b>Download</b></a
            >
          </button>
        </div>
        {% endfor %}
      </section>
    </div>
    <div
      class="modal fade"
      id="Image-Modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <a href="/Profile/" id="Username-Link"></a>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true" style="font-size: 24px;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="#" id="image-show" class="img-fluid" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="Download-Button-Modal btn btn-outline-secondary"
            >
              <a href="" id="download-l" class="Download-Link-Modal" download
                ><b>Download</b></a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script>
      $(".Image-Container").hover(
        function () {
          $(this)
            .find(".Download-Button")
            .css("display", "block")
            .css("margin-bottom", "-35px");
        },
        function () {
          $(this)
            .find(".Download-Button")
            .css("display", "none")
            .css("margin-bottom", "-35px");
        }
      );
      function showModalwithImage(imageUrl, UserName) {
        $("#Image-Modal").modal("show");
        $("#image-show").attr("src", `${imageUrl}`);
        $("#download-l").attr("href", `${imageUrl}`);
        $("#Username-Link").text("@" + `${UserName}`);
        $("#Username-Link").attr("href", "/Profile/" + `${UserName}`);
      }
    </script>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav fixed-top") {
          x.className += " responsive";
          document.getElementById("LOGO-id").style.visibility = "hidden";
        } else {
          x.className = "topnav fixed-top";
          document.getElementById("LOGO-id").style.visibility = "visible";
        }
      }
    </script>
  </body>
</html>
